.box1
    width 100px
    height 100px
    color blue
    background url("../images/a.gif")
    background-size cover
.box2
    width 100px
    height 100px
    color skyblue
    background url("../images/b.png")
    background-size cover
.box3
    width 100px
    height 100px
    color pink
    background url("../images/cdef.png")
    background-size cover
    